<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <appSettings>
    <add key="defaultLoggingPath" value="RetailReportExceptionLog.txt" />
    <add key="cacheDuration" value="15" /> <!-- minutes -->
    <add key="apiRiverStationsUrl" value="http://environment.data.gov.uk/flood-monitoring/id/stations?riverName={0}" />
    <add key="apiStationReadingsUrl" value="http://environment.data.gov.uk/flood-monitoring/id/stations/{0}/readings?_view=full&amp;_sorted"/>
    <add key="dateRange" value="7" />
    <add key="dateFormat" value="yyyy-MM-dd" />
    <add key="maxReadLimit" value="10000" />
    <add key="defaultReadLimit" value="500" />
    <add key="defaultParameter" value="level" />
  </appSettings>
</configuration>